<%- include("./partials/header.ejs") %>

<main>
  <div class="px-1 py-5 my-5">
    <% if (locals.article) { %>
    <div class="col-lg-6 mx-auto text-center">
      <h1 class="display-5 fw-bold text-body-emphasis"><%= article.title %></h1>
      <div class="col">
        <div class="p-3"></div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p class="h6 text-body-primary"><%= article.author %></p>
        <p class="h6 text-body-secondary"><%= article.date %></p>
      </div>
    </div>

    <div class="col-lg-6 mx-auto word-wrap">
      <div class="col">
        <div class="p-1"></div>
      </div>

      <p class="lead mb-4 text-body-emphasis"><%= article.summary %></p>

      <div class="col">
        <div class="p-1 d-flex justify-content-between">
          <a href="/">Back to home</a>
          <button
            id="goToTopBtn"
            title="Go to top"
            onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"
          >
            Go to top
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</main>

<%- include("./partials/footer.ejs") %>
